<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.hmmsoft.olaywat"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>العليوات</name>

    <description>
        صندوق العليوات الخيري . 
    </description>

    <author href="https://www.hmmsoft.com" email="hussain@hmmsoft.com">
        Hussain Al-Mahdi
    </author>
    
    <preference name="fullscreen" value="true" />
    <gap:splash src="logo.png" />
    <icon src="logo.png" />
    <preference name="orientation" value="portrait" />
</widget>
